body {
    text-align: center;
    transition: 0.3s;
    background-color: black;
}

body.light-mode {
    background-color: rgb(219, 219, 219);
    transition: 0.3s;
}

.title-h1 {
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 20px;
    width: 40%;
    margin: auto;
    transition: 0.3s;

}

.board {
    margin: auto;
    justify-items: center;
    font-size: 14px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
}

.cell {
    margin: 5px;
    width: 30px;
    height: 30px;
    background-color: rgb(233, 233, 233);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    /* font-weight: 600; */
    box-shadow: 1px 2px 2px 1px rgb(157, 157, 157);
}

.cell:hover {
    opacity: 0.7;
}

.footer {
    /* background-color: rgb(58, 58, 58); */
    color: rgb(0, 0, 0);
    /* background-color: antiquewhite; */
    padding: 3px;
    font-size: 14px;
    width: 100px;
    font-weight: 700;
    margin: 10px auto;
    width: 100px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 2px;
    /* text-shadow: 1px 1px 1px rgb(158, 158, 158); */
}

.lives {
    margin: 10px;
    display: inline-block;
}

.mine-open {
    background-color: red;
}

.mood-smiley {
    font-size: 25px;
    display: inline-block;
    cursor: pointer;
}

.hint {
    margin: auto;
    margin: 10px;
    display: inline-block;
    cursor: pointer;
}

.on-hint {
    background-color: rgb(251, 255, 165);
    color: black;
}

.seconds-counter {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
}

.best-score {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    font-weight: 600;
}

.level {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    margin: auto;
    border: 0;
    cursor: pointer;
    background-color: transparent;
}

.levels {
    display: block;
    padding: 10px;
}

.hide {
    opacity: 0;
}

.zero {
    background-color: white;
}

.one {
    background-color: blue;
}

.two {
    background-color: green;
}

.three {
    background-color: red;
}

.four {
    background-color: rgb(13, 0, 114);
}

.five {
    background-color: rgb(2, 66, 0);
}

.six {
    background-color: rgb(55, 198, 196);
}

.seven {
    background-color: rgb(57, 54, 57);
}

.eight {
    background-color: rgb(151, 151, 151);
}

.change-mode-btn {
    border: 0;
    font-size: 20px;
    background-color: transparent;
    text-align: left;
    cursor: pointer;
    display: flex;
    margin: -10px;
}