body {
    text-align: center;
    background-color: black;
}

.title-h1 {
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.board {
    margin: auto;
    justify-items: center;
    font-size: 14px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
}

.cell {
margin: 5px ;   
 width: 30px;
    height: 30px;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.footer {
    /* background-color: rgb(58, 58, 58); */
    color: rgb(255, 212, 243);
    padding: 3px;
    font-size: 14px;
    width: 100px;
    font-weight: 700;
    margin: auto;
    width: 100px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 2px;
    /* text-shadow: 1px 1px 1px rgb(158, 158, 158); */
}

.container {
    background-color: rgb(232, 232, 232);
    border-radius: 10px;
    padding: 20px;
    width: 40%;
    margin: auto;
}

.lives {
    margin: 10px;
    display: inline-block;
}

.mine-opens {
    background-color: red;
}

.mood-smiley {
    font-size: 25px;
    display: inline-block;
    cursor: pointer;
}

.hint {
    margin: auto;
    margin: 10px;
    display: inline-block;
    cursor: pointer;
}

.on-hint {
    background-color: rgb(251, 255, 165);
    color: black;
}

.cell:hover {
    opacity: 0.7;
}

.seconds-counter {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
}

.best-score {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    font-weight: 600;
}

.level {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    margin: auto;
    border: 0;
    cursor: pointer;
    background-color: rgb(232, 232, 232);
}

.levels {
    display: block;
    padding: 10px;
}

.hide {
    opacity: 0;
}